extends ../layout

block content 
    .row
        .col-sm-8
            h1 Post a faculty member
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add New faculty Member
    table.table
        thead 
            tr 
                th Name 
                th gender 
                th email 
                th coursecode
                th address 
                th phoneno
        tbody 
            each product in products   
                tr          
                    td=product.name 
                    td=product.gender 
                    td=product.email 
                    td=product.coursecode
                    td=product.address
                    td=product.phoneno
                   
                    td 
                        a(href="/products/delete/"+product._id, class= "btn btn-danger") Delete 
                        a(href="/products/edit/"+product._id, class= "btn btn-warning") Edit 
